.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b7f9f38e;
}

.login-form-title{
  font-size: 2rem;
  margin-bottom: 1rem;
}


.login-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 2rem 0;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.input-container{
  width: 70%;
}


.input-div input{
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.btn{
	display: block;
	width: 70%;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32a2be, #389fd3, #3265be);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.btn:hover{
	background-position: right;
}

.input-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

